.notification-box-container{
    padding:10px 20px;
    background:#5a5ada;
    opacity:0.8;
    cursor: pointer;
    position:relative;
    color:#dddddd;
    margin-top:5px;
}

.fade{
    animation-name: 'fade-away';
    animation-duration: 0.5s;
}

@keyframes fade-away {
    from { opacity:0.8 }
    to { opacity:0 }
}