.notification-box-container{
    padding:10px 20px;
    background:#5a5ada;
    opacity:0.8;
    cursor: pointer;
    position:relative;
    color:#dddddd;
    margin-top:5px;
}

.fade{
    animation-name: 'fade-away';
    animation-duration: 4s;
}

@keyframes fade-away {
    0% { opacity:0.8 }
    70% { opacity:0.8 }
    100% {opacity : 0}
}